<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"style":{"typography":{"lineHeight":"1","textTransform":"uppercase"},"spacing":{"padding":{"top":"1em","right":"1em","bottom":"1em","left":"1em"}}},"layout":{"type":"constrained"},"fontSize":"medium","fontFamily":"inter"} -->
<div class="wp-block-group has-inter-font-family has-medium-font-size" style="padding-top:1em;padding-right:1em;padding-bottom:1em;padding-left:1em;line-height:1;text-transform:uppercase"><!-- wp:query {"queryId":30,"query":{"perPage":6,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":true},"displayLayout":{"type":"flex","columns":2},"layout":{"type":"default"}} -->
<div class="wp-block-query"><!-- wp:query-title {"type":"archive","style":{"typography":{"lineHeight":"1","fontStyle":"normal","fontWeight":"700","textTransform":"uppercase"}},"fontSize":"large","fontFamily":"inter"} /-->

<!-- wp:columns {"verticalAlignment":"top"} -->
<div class="wp-block-columns are-vertically-aligned-top"><!-- wp:column {"verticalAlignment":"top","width":"66.66%"} -->
<div class="wp-block-column is-vertically-aligned-top" style="flex-basis:66.66%"><!-- wp:post-template {"style":{"typography":{"lineHeight":"1"}},"fontSize":"small"} -->
<!-- wp:group {"style":{"border":{"width":"1px"}},"borderColor":"cyan-bluish-gray","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-border-color has-cyan-bluish-gray-border-color" style="border-width:1px"><!-- wp:post-featured-image {"isLink":true,"width":"100%","height":"193px"} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"0px","padding":{"right":"10px","left":"10px","top":"10px"}}},"layout":{"inherit":false},"fontSize":"medium","fontFamily":"inter"} -->
<div class="wp-block-group has-inter-font-family has-medium-font-size" style="padding-top:10px;padding-right:10px;padding-left:10px"><!-- wp:post-title {"isLink":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"700","lineHeight":"1","textTransform":"capitalize"}},"fontSize":"medium","fontFamily":"inter"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"0.5em","right":"0.5em","bottom":"0.5em","left":"0.5em"},"blockGap":"0px"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:0.5em;padding-right:0.5em;padding-bottom:0.5em;padding-left:0.5em"><!-- wp:post-terms {"term":"post_tag","style":{"typography":{"fontStyle":"normal","fontWeight":"700","textTransform":"capitalize"},"elements":{"link":{"color":{"text":"var:preset|color|luminous-vivid-orange"}}}},"textColor":"luminous-vivid-orange","fontSize":"small","fontFamily":"inter"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"top","width":"33.33%","className":"sticky-right"} -->
<div class="wp-block-column is-vertically-aligned-top sticky-right" style="flex-basis:33.33%"><!-- wp:html -->
<!-- Composite Start -->
<div id="M200796ScriptRootC1419713"></div>
<script src="https://jsc.mgid.com/d/z/dzargon.com.1419713.js" async=""></script>
<!-- Composite End -->
<!-- /wp:html --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"1em"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:1em"><!-- wp:query-pagination {"paginationArrow":"arrow","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"},"fontSize":"medium"} -->
<!-- wp:query-pagination-previous {"label":"prev"} /-->

<!-- wp:query-pagination-numbers {"fontSize":"small"} /-->

<!-- wp:query-pagination-next {"label":"next"} /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:group --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->