<!-- wp:template-part {"slug":"header","theme":"thesundzargon","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"0","right":"1em","bottom":"0","left":"1em"}}},"layout":{"type":"constrained"},"fontSize":"medium","fontFamily":"inter"} -->
<div class="wp-block-group has-inter-font-family has-medium-font-size" style="padding-top:0;padding-right:1em;padding-bottom:0;padding-left:1em"><!-- wp:post-content /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"thesundzargon","tagName":"footer"} /-->
