<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"templateLock":false,"lock":{"move":false,"remove":false},"layout":{"type":"constrained"},"fontFamily":"inter"} -->
<div class="wp-block-group has-inter-font-family"><!-- wp:group {"style":{"border":{"width":"1px"}},"borderColor":"cyan-bluish-gray","layout":{"type":"default"}} -->
<div class="wp-block-group has-border-color has-cyan-bluish-gray-border-color" style="border-width:1px"><!-- wp:cover {"useFeaturedImage":true,"dimRatio":0,"isDark":false,"align":"center"} -->
<div class="wp-block-cover aligncenter is-light"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover -->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"1em","left":"1em"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="padding-right:1em;padding-left:1em"><!-- wp:post-terms {"term":"category","style":{"typography":{"fontStyle":"normal","fontWeight":"700","textTransform":"capitalize"}},"fontSize":"medium","fontFamily":"inter"} /-->

<!-- wp:post-title {"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}}} /-->

<!-- wp:template-part {"slug":"post-meta","area":"header"} /--></div>
<!-- /wp:group -->

<!-- wp:columns {"style":{"spacing":{"padding":{"right":"1em","left":"1em","bottom":"1em"}}}} -->
<div class="wp-block-columns" style="padding-right:1em;padding-bottom:1em;padding-left:1em"><!-- wp:column {"width":"66.66%","layout":{"type":"default"}} -->
<div class="wp-block-column" style="flex-basis:66.66%"><!-- wp:group {"tagName":"article","layout":{"type":"default"}} -->
<article class="wp-block-group"><!-- wp:post-content {"layout":{"type":"constrained"},"fontSize":"medium","fontFamily":"inter"} /--></article>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"33.33%","fontSize":"small"} -->
<div class="wp-block-column has-small-font-size" style="flex-basis:33.33%"><!-- wp:group {"className":"sticky-right","layout":{"type":"constrained"}} -->
<div class="wp-block-group sticky-right"><!-- wp:query {"queryId":48,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"displayLayout":{"type":"list","columns":3},"layout":{"type":"default"}} -->
<div class="wp-block-query"><!-- wp:post-template -->
<!-- wp:columns {"isStackedOnMobile":false,"align":"wide","style":{"spacing":{"blockGap":{"top":"0px","left":"0px"},"padding":{"right":"1em","left":"1em"}}}} -->
<div class="wp-block-columns alignwide is-not-stacked-on-mobile" style="padding-right:1em;padding-left:1em"><!-- wp:column {"width":"50%"} -->
<div class="wp-block-column" style="flex-basis:50%"><!-- wp:post-featured-image {"isLink":true,"width":"100%","height":"96px"} /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":"50%","style":{"border":{"width":"0px","style":"none"},"spacing":{"padding":{"left":"15px"}}}} -->
<div class="wp-block-column" style="border-style:none;border-width:0px;padding-left:15px;flex-basis:50%"><!-- wp:post-title {"isLink":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"700"}},"fontSize":"small"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:post-template --></div>
<!-- /wp:query -->

<!-- wp:html -->
<!-- Composite Start -->
<div id="M200796ScriptRootC1419713"></div>
<script src="https://jsc.mgid.com/d/z/dzargon.com.1419713.js" async></script>
<!-- Composite End -->
<!-- /wp:html --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:spacer -->
<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"comments","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->